.update{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 200px;
    height: 25px;
    font-size: 16px;
    padding: 2px;
}
button{
    width: 200px;
    height: 30px;
    margin-top: 10px;
    background-color: red;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}